*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul ,li{
    list-style-type: none;
}
body{
    background-color: rgb(231, 226, 226);

}
header{
    width: 100%;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

.div-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 25px;
}

@media (min-width:900px) {
    .container {
        padding: 24px;
    }
}

.searchicon {
    width: 20px;
    height: 15px;
}

nav ul {
    display: inline-block;
    
}

nav li {
    float: left;
    padding: 0 30px;
}

nav a:hover {
    border-bottom: 2px solid green
  }

nav a {
    color: black;
    text-decoration: none;
}
  


.sellbutton {
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    
}

.imageclass {
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
}

.imageclass .mainimg{
    max-width: 900px;
    width: 100%;
    border-radius: 24px;
    padding: 0 20px;
    position: relative;
    margin-left: 385px;
}

.title{
    position: absolute;
    top: 20px;
    left: 850px;
    transform: translate(-50%);


}
.title h1{
    margin-bottom: 8px;
    font-family: poppins;
    font-weight: 400;
    opacity: 100%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
}

.title h4{
    font-family: poppins;
    font-weight: 400;
    opacity: 65%;
    font-size: 12px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
}

.search {
    position: absolute;
    text-align: center;
    margin-left: 800px;
    margin-bottom: 400px;
}

footer{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #29B24E;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 4px 25px rgba(194, 194, 194, 0.1);
}


.mainfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}



.leftfooter a,.rightfooter a{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#FFFFFF ;
    text-transform: capitalize;
}

.line{
    width: 1340px;
    height: 1px;
    background-color: #D0D0D0;
    border-radius: 40px;
    margin: 0 20px 40px 20px;
}







